### A Step-by-Step Guide to the Data Analysis Process
**Defining the question.**

**Collecting the data.**

**Cleaning the data.**

**Analyzing the data.**

**Sharing your results.**

**Embracing failure.**

**Summary**

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("DelayedFlights.csv")
df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [5]:
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [7]:
df.describe()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1.936758e+06,1936758.0,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.929648e+06,1.936758e+06,1.936758e+06,...,1.936758e+06,1.929648e+06,1.936303e+06,1.936758e+06,1.936758e+06,1.247488e+06,1.247488e+06,1.247488e+06,1.247488e+06,1.247488e+06
mean,3.341651e+06,2008.0,6.111106e+00,1.575347e+01,3.984827e+00,1.518534e+03,1.467473e+03,1.610141e+03,1.634225e+03,2.184263e+03,...,7.656862e+02,6.812975e+00,1.823220e+01,3.268348e-04,4.003598e-03,1.917940e+01,3.703571e+00,1.502164e+01,9.013714e-02,2.529647e+01
std,2.066065e+06,0.0,3.482546e+00,8.776272e+00,1.995966e+00,4.504853e+02,4.247668e+02,5.481781e+02,4.646347e+02,1.944702e+03,...,5.744797e+02,5.273595e+00,1.433853e+01,1.807562e-02,6.314722e-02,4.354621e+01,2.149290e+01,3.383305e+01,2.022714e+00,4.205486e+01
min,0.000000e+00,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,...,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.517452e+06,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,1.203000e+03,1.135000e+03,1.316000e+03,1.325000e+03,6.100000e+02,...,3.380000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,3.242558e+06,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.545000e+03,1.510000e+03,1.715000e+03,1.705000e+03,1.543000e+03,...,6.060000e+02,6.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,8.000000e+00
75%,4.972467e+06,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.900000e+03,1.815000e+03,2.030000e+03,2.014000e+03,3.422000e+03,...,9.980000e+02,8.000000e+00,2.100000e+01,0.000000e+00,0.000000e+00,2.100000e+01,0.000000e+00,1.500000e+01,0.000000e+00,3.300000e+01
max,7.009727e+06,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,9.742000e+03,...,4.962000e+03,2.400000e+02,4.220000e+02,1.000000e+00,1.000000e+00,2.436000e+03,1.352000e+03,1.357000e+03,3.920000e+02,1.316000e+03

In [8]:
df.info

<bound method DataFrame.info of          Unnamed: 0  Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  \
0                 0  2008      1           3          4   2003.0        1955
1                 1  2008      1           3          4    754.0         735
2                 2  2008      1           3          4    628.0         620
3                 4  2008      1           3          4   1829.0        1755
4                 5  2008      1           3          4   1940.0        1915
...             ...   ...    ...         ...        ...      ...         ...
1936753     7009710  2008     12          13          6   1250.0        1220
1936754     7009717  2008     12          13          6    657.0         600
1936755     7009718  2008     12          13          6   1007.0         847
1936756     7009726  2008     12          13          6   1251.0        1240
1936757     7009727  2008     12          13          6   1110.0        1103

         ArrTime  CRSArrTime UniqueCarrier  ...  TaxiIn TaxiOut  Cancelled  \
0         2211.0        2225            WN  ...     4.0     8.0          0
1         1002.0        1000            WN  ...     5.0    10.0          0
2          804.0         750            WN  ...     3.0    17.0          0
3         1959.0        1925            WN  ...     3.0    10.0          0
4         2121.0        2110            WN  ...     4.0    10.0          0
...          ...         ...           ...  ...     ...     ...        ...
1936753   1617.0        1552            DL  ...     9.0    18.0          0
1936754    904.0         749            DL  ...    15.0    34.0          0
1936755   1149.0        1010            DL  ...     8.0    32.0          0
1936756   1446.0        1437            DL  ...    13.0    13.0          0
1936757   1413.0        1418            DL  ...     8.0    11.0          0

         CancellationCode  Diverted  CarrierDelay  WeatherDelay NASDelay  \
0                       N         0           NaN           NaN      NaN
1                       N         0           NaN           NaN      NaN
2                       N         0           NaN           NaN      NaN
3                       N         0           2.0           0.0      0.0
4                       N         0           NaN           NaN      NaN
...                   ...       ...           ...           ...      ...
1936753                 N         0           3.0           0.0      0.0
1936754                 N         0           0.0          57.0     18.0
1936755                 N         0           1.0           0.0     19.0
1936756                 N         0           NaN           NaN      NaN
1936757                 N         0           NaN           NaN      NaN

        SecurityDelay  LateAircraftDelay
0                 NaN                NaN
1                 NaN                NaN
2                 NaN                NaN
3                 0.0               32.0
4                 NaN                NaN
...               ...                ...
1936753           0.0               22.0
1936754           0.0                0.0
1936755           0.0               79.0
1936756           NaN                NaN
1936757           NaN                NaN

[1936758 rows x 30 columns]>

In [9]:
df[df.isna().any(axis=1)]

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
6,10,2008,1,3,4,706.0,700,916.0,915,WN,...,5.0,19.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936739,7009646,2008,12,13,6,1100.0,1045,1350.0,1347,DL,...,7.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936740,7009652,2008,12,13,6,1200.0,1150,1924.0,1921,DL,...,11.0,15.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936750,7009702,2008,12,13,6,1531.0,1522,1822.0,1823,DL,...,9.0,14.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [10]:
#Check type of columns

In [11]:
#Fill NaN in columns CarrierDelay
df["CarrierDelay"].dtypes
df["CarrierDelay"] = df["CarrierDelay"].fillna(df["CarrierDelay"].mean())

In [12]:
#Fill NaN in columns WeatherDelay
df["WeatherDelay"].dtypes
df["WeatherDelay"] = df["WeatherDelay"].fillna(df["WeatherDelay"].mean())

In [13]:
#Fill NaN in columns NASDelay
df["NASDelay"].dtypes
df["NASDelay"] = df["NASDelay"].fillna(df["NASDelay"].mean())

In [14]:
#Fill NaN in columns SecurityDelay
df["SecurityDelay"].dtypes
df["SecurityDelay"] = df["SecurityDelay"].fillna(df["SecurityDelay"].mean())

In [15]:
#Fill NaN in columns LateAircraftDelay
df["LateAircraftDelay"].dtypes
df["LateAircraftDelay"] = df["LateAircraftDelay"].fillna(df["LateAircraftDelay"].mean())

In [16]:
df[df.isna().any(axis=1)]

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1280,1763,2008,1,3,4,922.0,915,NaN,1050,WN,...,NaN,12.0,0,N,1,19.179399,3.703571,15.021635,0.090137,25.296466
1372,1911,2008,1,3,4,2325.0,1900,NaN,2030,WN,...,NaN,11.0,0,N,1,19.179399,3.703571,15.021635,0.090137,25.296466
1776,2651,2008,1,4,5,1949.0,1905,NaN,1910,WN,...,NaN,11.0,0,N,1,19.179399,3.703571,15.021635,0.090137,25.296466
1831,2726,2008,1,4,5,737.0,705,NaN,825,WN,...,NaN,13.0,0,N,1,19.179399,3.703571,15.021635,0.090137,25.296466
2244,3672,2008,1,4,5,1849.0,1630,NaN,1755,WN,...,NaN,12.0,0,N,1,19.179399,3.703571,15.021635,0.090137,25.296466
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1935651,7006289,2008,12,10,3,1459.0,1447,NaN,1650,DL,...,NaN,37.0,1,A,0,19.179399,3.703571,15.021635,0.090137,25.296466
1935716,7006401,2008,12,11,4,1355.0,1106,7.0,1950,DL,...,13.0,17.0,0,N,1,19.179399,3.703571,15.021635,0.090137,25.296466
1935876,7006809,2008,12,11,4,1026.0,955,NaN,1219,DL,...,NaN,NaN,1,A,0,19.179399,3.703571,15.021635,0.090137,25.296466
1935978,7007034,2008,12,11,4,1527.0,1520,2106.0,1708,DL,...,9.0,19.0,0,N,1,19.179399,3.703571,15.021635,0.090137,25.296466
1936470,7008584,2008,12,12,5,703.0,630,NaN,734,DL,...,NaN,33.0,1,B,0,19.179399,3.703571,15.021635,0.090137,25.296466

In [17]:
df["ArrTime"] = df["ArrTime"].fillna(df["ArrTime"].mean())
df["TaxiIn"] = df["TaxiIn"].fillna(df["TaxiIn"].mean())
df["TaxiOut"] = df["TaxiOut"].fillna(df["TaxiOut"].mean())

In [18]:
df[df.isna()]

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1936754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1936755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1936756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1936757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN